@using Sitecore.Mvc;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
        @* @Html.Sitecore().VisitorIdentification() *@

    <link href="~/Areas/basic/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/basic/Content/Site.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        
    </div>
    <div class="container body-content">
        <h1>@Html.Sitecore().Field("title")</h1>

        @Html.Sitecore().Placeholder("main")

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Sitecore ASP.NET MVC Application</p>
        </footer>
    </div>
</body>

</html>
